.triangle{
    border-left: 20px solid transparent;
    border-right: 15px solid rgb(var(--color-bg1));
    border-bottom: 20px solid transparent;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -35px;
    top: 0px
}

.triangle_inverted{
    border-right: 20px solid transparent;
    border-left: 15px solid rgb(var(--color-bg-green));
    border-bottom: 20px solid transparent;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -35px;
    top: 0px
}
