@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        --color-divider: 77 77 77;
        /*--color-primary: 106 178 95;*/
        --color-primary: 33 150 15;
        --color-secondary: 53 170 35;
        /*--color-bg1: 217 217 217;*/
        /*--color-bg1: 220 220 220;*/
        --color-bg1: 230 230 230;
        --color-bg2: 174 174 174;
        --color-bg-green: 164 217 156;
        --color-gradient1: 140 140 140;
        --color-gradient2: 40 40 40;
    }
}

*{
    padding: 0;
    margin: 0;
}

body,html,#root{
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: 'Inter', sans-serif;
}

.text-border{
    text-shadow: 1px 0 rgb(66 66 64 / 0.3), -1px 0 rgb(66 66 64 / 0.3), 0 1px rgb(66 66 64 / 0.3), 0 -1px rgb(66 66 64 / 0.3),
             1px 1px rgb(66 66 64 / 0.3), -1px -1px rgb(66 66 64 / 0.3), 1px -1px rgb(66 66 64 / 0.3), -1px 1px rgb(66 66 64 / 0.3);
}

